<form novalidate (ngSubmit)="process()" [formGroup]="form">

    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" formControlName="type_presta">
      <div class="alert alert-danger" *ngIf="isError('type_presta')">champ invalide</div>
    </div>

    <div class="form-group">
      <label for="client">Client</label>
      <input type="text" class="form-control" id="client" formControlName="client">
      <div class="alert alert-danger" *ngIf="isError('client')">champ invalide</div>
    </div>

    <div class="form-group">
      <label for="nbjours">Nb Jours</label>
      <input type="number" class="form-control" id="nbjours" formControlName="nb_jours">
    </div>

    <div class="form-group">
      <label for="tjm">TJM HT</label>
      <input type="number" class="form-control" id="tjm" formControlName="tjm_ht">
    </div>

    <div class="form-group">
      <label for="tva">TVA</label>
      <input type="number" class="form-control" id="tva" formControlName="taux_tva">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" id="state" formControlName="state">
        <option [value]="state" *ngFor="let state of states">{{ state }}</option>
      </select>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
