<form novalidate (ngSubmit)="process()" #form="ngForm">

  <div class="form-group">
    <label for="type">Type</label>
    <input [(ngModel)]="init.type_presta" name="type" type="text" class="form-control" id="type" requiered minlength="3" #type="ngModel">
    <div class="alert alert-danger" *ngIf="type.invalid && type.touched">champ invalide</div>
  </div>

  <div class="form-group">
    <label for="client">Client</label>
    <input [(ngModel)]="init.client" name="client" type="text" class="form-control" id="client" required #client="ngModel">
    <div class="alert alert-danger" *ngIf="client.invalid && client.touched">champ invalide</div>
  </div>

  <div class="form-group">
    <label for="nbjours">Nb Jours</label>
    <input [(ngModel)]="init.nb_jours" name="jours" type="number" class="form-control" id="nbjours">
  </div>

  <div class="form-group">
    <label for="tjm">TJM HT</label>
    <input [(ngModel)]="init.tjm_ht" name="tjm" type="number" class="form-control" id="tjm">
  </div>

  <div class="form-group">
    <label for="tva">TVA</label>
    <input [(ngModel)]="init.taux_tva" name="tva" type="number" class="form-control" id="tva">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select [(ngModel)]="init.state" name="state" class="form-control" id="state">
      <option [value]="state" *ngFor="let state of states">{{ state }}</option>
    </select>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
